.App {
  text-align: center;
  color: white;
  background-color: black;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: start;
}

.nav-img-container {
  object-fit: contain;
}

.nav-img-container img {
  height: 100%;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.thumbnails {
  height: 250px;
  width: 320px;
  margin: 20px;
  object-fit: cover;
}

.image-container {
  width: 80vw;
  margin-left: 10vw;
  object-fit: contain;
}

.focusImg {
  width: 100%;
  height: 100%;
}

.explanation {
  width: 80vw;
  margin-left: 10vw;
  text-align: justify;
}

.focus-buttons {
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  justify-content: right;
  margin-bottom: 5em;
  margin-top: 2em;
}

.focus-buttons button {
  margin-left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
